body {
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-container {
  flex-shrink: 0;
  width: 400px;
  height: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.mulligan-display{
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.mine-counter {
  padding-top:5px;
  padding-bottom:5px;
  padding-left:10px;
  padding-right:10px;
  letter-spacing: 50px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.unrevealed-square:hover {
  background: #daedff;
}

.unrevealed-square {
  background: #f4faff;
}

.automation-focus {
  background: #cffde0;
}

.automation-focus-blocked {
  background: #fdcfcf;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.adjacent-mines-0 {
  color: #999;
}
.adjacent-mines-1 {
  color: rgb(95, 125, 200);
}
.adjacent-mines-2 {
  color: rgb(95, 200, 95);
}
.adjacent-mines-3 {
  color: rgb(200, 95, 95);
}
.adjacent-mines-4 {
  color: rgb(45, 60, 130);
}
.adjacent-mines-5 {
  color: rgb(45, 130, 45);
}
.adjacent-mines-6 {
  color: rgb(130, 45, 45);
}
.adjacent-mines-7 {
  color: #333;
}
.adjacent-mines-8 {
  color: #000;
}

.game {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.boards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top:20px;
  gap: 20px;
  align-content: flex-start;
}

.left-panel {
  width: 600px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 0;
}

.upgrade-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.upgrade-button {
  width: 50px;
}

.reset-save-button{
  width:120px;
  color:rgb(255, 72, 72)
}

.header {
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.combo-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  align-items: center;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 5px;
  gap: 10px;
}
