body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  white-space: pre-line;
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.unrevealed-square:hover {
  background: #daedff;
}

.unrevealed-square {
  background: #f4faff;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.adjacent-mines-0 {
  color: #999;
}
.adjacent-mines-1 {
  color: rgb(95, 125, 200);
}
.adjacent-mines-2 {
  color: rgb(95, 200, 95);
}
.adjacent-mines-3 {
  color: rgb(200, 95, 95);
}
.adjacent-mines-4 {
  color: rgb(45, 60, 130);
}
.adjacent-mines-5 {
  color: rgb(45, 130, 45);
}
.adjacent-mines-6 {
  color: rgb(130, 45, 45);
}
.adjacent-mines-7 {
  color: #333;
}
.adjacent-mines-8 {
  color: #000;
}

.game {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.left-panel {
  display: flex;
  flex-direction: column;
}

.right-panel {
  display: flex;
  flex-direction: column;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 5px;
  gap: 10px;
}
